.app {
	text-align: center;
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
	background: #4285f4;
	height: 56px;
	box-shadow: 5px 5px 15px #777;
}

.images {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}


