.imageTile {
	width: 300px;
	height: 300px;
	border: 1px solid #000000;
	display: flex;
	justify-content: center;
	overflow: hidden;
	margin: 40px;
	box-shadow: 5px 5px 10px #777;

	img {
		width: auto;
		height: 100%;
	}
}