.imageTile {
	width: 300px;
	height: 300px;
	border: 1px solid #000000;
	display: flex;
	justify-content: center;
	overflow: hidden;
	margin: 40px;
	box-shadow: 5px 5px 10px #777;

	transition: width 150ms, height 150ms, margin 150ms;

	img {
		width: auto;
		height: 100%;
	}

	&:hover {
		margin: 34px;
		width: 312px;
		height: 312px;
		cursor: pointer;
	}
}